body{
    background-color: rgb(255, 255, 255);
    padding-top: 1rem;
    position: relative;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
}

.box1{
    background: rgb(251, 255, 3);
    /* position: relative; */
    width: 276px;
    height: 600px;
    border: 4px solid black;
    
}

.box2{
    background: rgb(80, 209, 80);
    /* position: relative; */
    width: 276px;
    height: 600px;
    margin-left: 50px;
    border: 4px solid black;
    
}

.box3{
    background: rgb(230, 141, 90);
    /* position: relative; */
    width: 276px;
    height: 600px;
    margin-left: 50px;
    border: 4px solid black;
    
}

.box4{
    background: rgb(80, 162, 209);
    /* position: relative; */
    width: 276px;
    height: 600px;
    margin-left: 50px;
    border: 4px solid black;
}
