body{
    background-color: rgb(255, 255, 255);
    padding-top: 1rem;
    position: relative;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;


}

.box1{
    background: rgb(251, 255, 3);
    width: 300px;
    height: 100px;
    border: 4px solid black;
    
}

.box2{
    background-color: rgb(112, 112, 236);
    width: 950px;
    height: 100px;
    margin-left: 50px;
    border: 4px solid black;

}

.box3{
    background-color: rgb(112, 236, 118);
    margin-top: 50px;
    width: 300px;
    height: 505px;
    border: 4px solid black;

}

.box4{
    background-color: rgb(236, 162, 112);
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    width: 592px;
    height: 505px;
    border: 4px solid black;

}

.box5{
    background-color: rgb(112, 236, 118);
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: 505px;
    border: 4px solid black;

}

.box6{
    background-color: rgb(215, 112, 236);
    margin-top: 50px;
    width: 1300px;
    height: 100px;
    border: 4px solid black;

}